# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
    my_job:
        runs-on: ubuntu-latest

        steps:
        
        - name: Use repo name in a command
          env:
            REPO_NAME: ${{ github.event.repository.name }}
          run: echo "The repository name is $REPO_NAME"
  
  
